/* nonostante abbia tolto la slide, l´header nella versione cellulare non mi sembra centrato, le queries le ho controllate 10 volte*/




@import url("http://fonts.cdnfonts.com/css/cliffhanger");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #ffffff;
  font-family: Helvetica;
}

.menu-wrap {
  position: fixed;
  top: 0;
  /* left: 0; */
  right: 80px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  /* background: rgba(0, 0, 0, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100px;
  height: 2px;
  background-color: #d1ba9d;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  /* transition: opacity 0, 4s ease; */
}

.menu-wrap .menu {
  background-color: rgba(80, 129, 6, 0.712);
  position: fixed;
  top: 5px;
  right: 100px;
  width: 14vw;
  height: 33vh;
  border-radius: 1rem;
  visibility: hidden;
  display: flex;
  justify-content: right;
  text-align: right;
}
/* overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  
 
    /* .menu-wrap .menu > div {
    height:100vw;
    display:flex;
    flex:none;
    align-items: right; 
    justify-content: right;
    transform: scale(0);
    transition: all 0.4s ease; 
  } */

.menu-wrap .menu > div > div {
  /* text-align: center; */
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  /* color: #fff; */
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(238, 232, 232, 0.979),
    0 6px 20px 0 rgba(211, 203, 203, 0.753);
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  background: black;
  color: greenyellow;
  padding: 0.5rem;
}

header {
  width: 100%;
  padding: 20px;
}

/* header img {
  object-fit: cover;
  cursor: pointer;
  margin-left: 100px;
  margin: 10px 0px;
} */

/* .img2 {
  height: 450px;
} */


*/ section {
  cursor: pointer;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
}

.section1 {
  justify-content: space-around;
  margin-bottom: 6rem;
}

.polaroid img {
  height: 300px;
}

.section2 {
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
}

h2 {
  color: greenyellow;
}

.footer_content-inner {
  background-color: rgb(240, 255, 240);
  box-shadow: 0 4px 8px 0 rgba(238, 232, 232, 0.979),
    0 6px 20px 0 rgba(211, 203, 203, 0.753);
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 50rem;
}
.footer_headline {
  font-size: 1.75rem;
  font-family: Arial, sans-serif;
  margin-bottom: 1.75rem;
  margin-left: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}
.newsletter {
  position: relative;
  width: 100%;

  min-height: 1px;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.social {
  width: 100%;
  display: flex;
  padding: 10rem;
  justify-content: center;
}

.fab {
  padding: 10px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fa:hover {
  opacity: 0.7;
}

a:hover.fab {
  opacity: 0.9;
  background: black;
  color: blue;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  font-size: 30px;
}

.fa-twitter {
  background: #55acee;
  color: white;
  font-size: 30px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  font-size: 30px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  font-size: 30px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  font-size: 30px;
}

.fa-instagram {
  color: white;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  font-size: 30px;
}

@media (min-width: 375px) {
  h2 {
    text-align: center;
    margin-top: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .top-img {
    margin-left: auto;
    width: 100%;
  }
  .top-img img {
    width: 10rem;
  }

  .section1 {
    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div.polaroid {
    width: 140px;
    margin-left: 1rem;
    margin-top: 2rem;
    background-color: ivory;
    box-shadow: 0 4px 8px 0 rgba(134, 126, 126, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
  }
  .polaroid img {
    height: 200px;
  }

  div.container {
    background-color: ivory;
    padding: 10px;
    height: 30px;
  }
  .top-img {
    width: 100%;
    margin: auto;
    margin-top: 3rem;
  }

  section {
    cursor: pointer;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
  }
  .section2 {
    
    margin-top: 3rem;
  }
  .section2 img{
      width: 300px;
  }
  
  .section3 {
    margin-bottom: 6rem;
    padding: 5rem;
  }
  .testoCollage {
    background-color: ivory;
    width: 75rem;
    height: 40rem;
    box-shadow: 0 4px 8px 0 rgba(134, 126, 126, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
    padding: 2rem;
    margin-right: 3rem;
  }

  .testoCollage h2 {
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
  }

  .testoCollage p {
    font-size: 0.5rem;
    line-height: 1.2rem;
  }
  .logo {
    float: right;

    width: 1rem;
    height: 1rem;
    background-color: honeydew;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 4px;
    grid-auto-flow: dense;
  }

  .grid img {
    box-shadow: 0 4px 8px 0 rgba(134, 126, 126, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
    width: 100%;
    height: 100%;
  }

  .horizontal {
    grid-column: span 2;
  }
  .vertical {
    grid-row: span 2;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }

  .footer_content-inner {
    background-color: rgb(240, 255, 240);
    box-shadow: 0 4px 8px 0 rgba(238, 232, 232, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
    width: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 25rem;
  }
  .footer_headline {
    font-size: 1.75rem;
    font-family: Arial, sans-serif;
    margin-bottom: 1.75rem;
    margin-left: 10px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
  }
  .newsletter {
    position: relative;
    width: 100%;

    min-height: 1px;
  }

  button,
  input,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

@media (min-width: 768px) {
  h2 {
    font-family: "Cliffhanger", sans-serif;
    text-align: center;
    letter-spacing: 20px;
    margin-top: 2rem;
  }
  .top-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  .top-img img {
    width: 30rem;
  }

  .section1 {
    

    display: flex;
    justify-content: space-between;
  }

  div.polaroid {
    width: 260px;
    margin-right: 2rem;
    background-color: ivory;
    box-shadow: 0 4px 8px 0 rgba(134, 126, 126, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
  }
  div.container {
    background-color: ivory;
    padding: 30px;
  }
  .top-img {
    width: 100%;
    margin: auto;
    margin-top: 3rem;
  }

  section {
    cursor: pointer;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 4px;
    grid-auto-flow: dense;
  }

  .grid img {
    box-shadow: 0 4px 8px 0 rgba(134, 126, 126, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
    width: 100%;
    height: 100%;
  }

  .horizontal {
    grid-column: span 2;
  }
  .vertical {
    grid-row: span 2;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
  .footer_content-inner {
    background-color: rgb(240, 255, 240);
    box-shadow: 0 4px 8px 0 rgba(238, 232, 232, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
    width: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 50rem;
  }
  .footer_headline {
    font-size: 1.75rem;
    font-family: Arial, sans-serif;
    margin-bottom: 1.75rem;
    margin-left: 10px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
  }
  .newsletter {
    position: relative;
    width: 100%;

    min-height: 1px;
  }

  button,
  input,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
@media (min-width: 1200px) {
  .top-img {
    width: 100%;
    margin: auto;
    margin-top: 3rem;
  }
  div.polaroid {
    width: 300px;
    background-color: ivory;
    box-shadow: 0 4px 8px 0 rgba(134, 126, 126, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  div.container {
    background-color: ivory;
    padding: 30px;
  }
  section {
    cursor: pointer;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
  }
  .section3 {
    margin-bottom: 6rem;
    padding: 5rem;
  }
  .testoCollage {
    background-color: ivory;
    width: 55rem;
    height: 40rem;
    box-shadow: 0 4px 8px 0 rgba(134, 126, 126, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
    padding: 2rem;
    margin-right: 13rem;
  }

  .testoCollage h2 {
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;
  }

  .testoCollage p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .logo {
    margin-left: 0.5rem;
    margin-top: 2rem;
    width: 7rem;
    height: 7rem;
    background-color: honeydew;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 8px;
    grid-auto-flow: dense;
  }

  .grid img {
    box-shadow: 0 4px 8px 0 rgba(134, 126, 126, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
    width: 100%;
    height: 100%;
  }

  .horizontal {
    grid-column: span 2;
  }
  .vertical {
    grid-row: span 2;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
  .footer_content-inner {
    background-color: rgb(240, 255, 240);
    box-shadow: 0 4px 8px 0 rgba(238, 232, 232, 0.979),
      0 6px 20px 0 rgba(211, 203, 203, 0.753);
    width: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 50rem;
  }
  .footer_headline {
    font-size: 1.75rem;
    font-family: Arial, sans-serif;
    margin-bottom: 1.75rem;
    margin-left: 10px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
  }
  .newsletter {
    position: relative;
    width: 100%;

    min-height: 1px;
  }

  button,
  input,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
